body {
	margin: 0;
	padding: 0;
	
}

.header {
	background-color: rgb(221, 192, 201);
	color:black;
	text-align: center;
	padding: 20px;
}



.sidebar {
	float: left;
	width: 15%;
	background-color: black;
	height: 600px;
	padding: 20px;
}

.sidebar ul {
	
	margin: 0;
	padding: 0;
}

.sidebar li a {
	display: flex;
	color:white;
   
    
	padding: 8px 16px;
	
}

.sidebar li a:hover {
	background-color: #555;
	
}

.content {
	margin-left: 20%;
	padding: 20px;
}

.footer {
	background-color:gray;
	color: white;
	text-align: center;
	padding: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
